.россия{
    width: 1450px;
    height: 300px;
    background-color: azure;
}

.россия2{
    width: 1450px;
    height: 300px;
    background-color: blue;
}
.россия3{
    width: 1450px;
    height: 300px;
    background-color: rgb(255, 0, 0);
}
